*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px;
    /* flex-wrap: nowrap; */
}

header h1{
font-size: 25px;
/* margin-left: -3rem; */
}

header i{
    font-size: 100px;
    margin-right: 5rem;
    color:greenyellow;
}

nav{
display: flex;
}
    


nav ul {
    display: flex;
    justify-content: space-evenly;
}


nav ul li{
    margin-right: 20px;
    font-size: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: black;
    transition: 0.8s;
}


#btn-header button{
    border-radius: 25px;
    padding: 15px;
    background-color: transparent;
     border: none;
     font-size: 20px;
     
}

#btn-header > button >a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}



    




    
    
